/* Fonts */
@font-face{
	font-family: "Roboto"; 	
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/roboto.woff2") format("woff2"),
		 url("../fonts/roboto.woff") format("woff");
}
@font-face{
	font-family: "Roboto-Medium"; 	
	font-weight: medium; /* 500 */
	font-style: normal;
	src: url("../fonts/robotomedium.woff2") format("woff2"),
		 url("../fonts/robotomedium.woff") format("woff");
}
@font-face{
	font-family: "Roboto-Bold"; /* 700 */
	font-weight: bold; 
	src: url("../fonts/robotobold.woff2") format("woff2"),
		 url("../fonts/robotobold.woff") format("woff");
}

/* Variables */ 

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;  
  --basic-grey: #EEEEEE;
  --basic-dark-grey: #DBDBDB;
  --basic-grey-show: #DFDFDF;
  --basic-grey-click: #D5D5D5;

  --basic-red: #FB565A;
  --basic-red-select: #E74246;
  --basic-red-click: #D7373B;

  --basic-green: #00CA74;
  --basic-green-select: #00BC6C;
  --basic-green-click: #00AA62;

  --basic-yellow: #EFC849;
  --basic-yellow-select: #EAB534;
  --basic-yellow-click: #E5A722;

  --basic-text: #283136;

  --basic-input: #4D4D4D;

  --basic-address: #666666;
  --basic-referal: #444444;
  --basic-social: #E1E1E1;
}
/* Global */

body{
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-text);


	min-height: 100%;

	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a{
	text-decoration: none;	
	color: var(--basic-black);
}

img{
	max-width: 100%;
	height: auto;
}

.hide{
	display: none;

}
/*Grid*/
.page{
	height: 100%;
}

/* Main header */
.main-header {

}

/* Main navigation */
.main-navigation{ 
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: var(--basic-grey);
	
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 50px;
}  

.main-header-logo{
	width: 160px;
	height: 66px;
}

.main-header-logo img:hover{
	opacity: .7;
}
.main-header-logo img:active{
	opacity: .3;
}

.main-navigation-wrapper{
	
  	background-color: var(--basic-grey); 
  	width: 1160px;
  	display: flex;
  	justify-content: space-between;
	align-items: center;
}

.main-navigation-bar{
  	background-color: var(--basic-grey); 
}

.site-navigation{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.navigation-item{
	margin-right: 45px;
}



/* User navigation */
.cart{
	max-width: 115px;
}
.cart-img{
	margin-right: 15px;
}
/*
.site-navigation a,
.cart a{
	color: var(--basic-black);
}*/

.site-navigation a:hover, 
.cart a:hover{
	color: var(--basic-red);
}

.site-navigation a:active, 
.cart a:focus{
	color: inherit; 
	opacity: .3; 
}

/*Container*/
.container{
	margin: 0 auto;
  	width: 1160px;

}

/* Features*/
.features{
	background-color: var(--basic-grey);

}

.features-item{
	margin: 0 auto;
  	width: 1160px;
}

.features-slogan{
	color: var(--basic-black);
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}
.features-img{
}


/* Services */
.services{
	 margin-bottom: 80px;
	 margin-top: 80px;
	
}

.services-list{
	display: flex;
	justify-content: space-between;
	/* у третьего блока "презентации" нет отступа справа, в гридах был */
}

.services-title{
	font-family: "Roboto-Bold", Arial, sans-serif;
	color: var(--basic-black);
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 25px;
	 
}
.services-item{
	font-size: 16px;
	vertical-align: bottom;
	width: 300px;
}
/*
.services-text{
	font-size: 16px;
	line-height: 24px;
}
*/

/* About */
.about-wrapper{
	/*
	display: grid;
	grid-template-columns: 1fr 360px;
	margin-bottom: 80px;*/

	display: flex;
	justify-content: space-between;
	}

/* левый блок*/
.about-left{
	width: 650px;
}
.about-slogan{
	color: var(--basic-black);
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}
.about-services{
	font-family: "Roboto-Bold", Arial, sans-serif;
	text-transform: uppercase;
}
.about-list{
	list-style: none;	
}
.about-item{
	list-style-type: none;
	display: flex;
	align-items: center;
	vertical-align: center;
}

.about-item:before {
	content: url(../img/marker-list.png); 
}

/* правый блок*/
.about-right {
	width: 360px;
	height: 411px;
}
.about-logo{
	width: 360px;
	height: 208px;

}

.about-right-text{
	font-family: "Roboto-Bold", Arial, sans-serif;
	text-transform: uppercase;
	color: var(--basic-black);
}
.about-stat-percent{
	font-family: "Roboto-Bold", Arial, sans-serif;
	color: var(--basic-black);
	font-size: 45px;
}
.about-percent{
	font-family: "Roboto-Bold", Arial, sans-serif;
	color: var(--basic-black);
	font-size: 26px;
	line-height: 40px;
}
.about-stat-text{
	line-height: 18px;	
}


/* Button */
.button{
	color: var(--basic-white);
	background-color: var(--basic-red);
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
}
.button:hover{
	background-color: var(--basic-red-select);
}
.button:active{
	background-color: var(--basic-red-click);

}
/* кнопка заказать приложение*/
.button-application{
	background-color: var(--basic-green);
}
.button-application:hover{
	background-color: var(--basic-green-select);
}
.button-application:active{
	background-color: var(--basic-green-click);
}

/* кнопка заказать презентацию*/

.button-presentation{
	background-color: var(--basic-yellow);
}
.button-presentation:hover{
	background-color: var(--basic-yellow-select);
}
.button-presentation:active{
	background-color: var(--basic-yellow-click);
}

/* кнопка на странице каталога "показать" */
.button-show{
	background-color: var(--basic-grey);
	color: var(--basic-black);
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
}

.button-show:hover{
	background-color: var(--basic-grey-show);
}

.button-show:active{
	background-color: var(--basic-grey-click);
}

/* Partners */
.partners-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.partners-item{
	opacity: .2;
	margin: auto;
} 
.partners-item:hover{
	opacity: 1;
}
.partners-item:active{
	opacity: .1;
}

.academy{

}
.barbershop{

}
.pink{

}
.mishka{

}

/* КАТАЛОГ */

.page-catalog{

	display: grid;
	grid-template-columns: 260px 1fr;
	grid-column-gap: 140px;

}
.page-catalog .catalog-title {
 
}

.catalog-title{
	background-color: var(--basic-grey);
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	width: 1160px;
	margin: 0 auto;
	text-align: center;
}

.catalog-title-wrapper{
	background-color: var(--basic-grey);
	padding-top: 80px;
	padding-bottom: 108px;
}



.sorting{


}

.price-title,
.property-title,
.sorting-title,
.grid-title{
	font-family: "Roboto-Bold",Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.grid-item,
.property-item{
	font-size: 16px;
	line-height: 20px;
}

.grid-list,
.property-list{
	list-style: none;
}

.grid-item-input,
.property-item-input{
	color: var(basic-input);
	opacity: .4;	
}

.grid-item-input,
.property-item-input:hover{
	opacity: 1;
}
/*
.grid-item-input,
.property-item-input:disabled{
	opacity: .1;
}

.property-item label:disabled{
	opacity: .3;
}
.grid-item label:disabled{
	opacity: .3;
}*/

.price-range{
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}

.price-range-num{
	background-color: var(--basic-grey);
	border-radius: 3px;
	text-align: center;
	width: 80px;
	height: 38px;
}
.sorting{
	display: flex;

}
.sorting-list{
	list-style: none;
	padding: 0;
	display: flex;

}

.sorting-item{
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-black);
	opacity: .3;
	text-transform: uppercase;
}

.sorting-item:hover{
	opacity: .6;
}
.sorting-item:active{
	opacity: 1;
}

.sorting-button{
	opacity: .2;
}
.sorting-button:hover{
	opacity: 1;
}
/* как заменить цвет треугольника при нажатии на него.
	 или заменить сам файл картинки*/

.filters{
	width: 208px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
  border: none;
}

.filter li{
	margin-bottom: 20px;
}
/* каталог шаблонов */



.catalog{

}


.catalog-list{
	list-style: none;
	/*
  	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px; */

	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
	
}

.catalog-item{
	width: 360px;
	padding: 0;
/*	height: 620px; */	
}

.catalog-img-top{
	opacity: .12;	
}

.catalog-img-top:hover{
	opacity: 1;	
}
.catalog-img{
}

.catalog-item-info{
	background-color: var(--basic-grey);
	width: 360px;
}
.catalog-item-name{
	font-family: "Roboto-Bold",Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}
.catalog-item-name:hover{
	color: var(--basic-red);
}
.catalog-item-name:active{
	color: var(--basic-black);
	opacity: .3;
}

.catalog-item-price{
	color: var(--basic-white);
	background-color: var(--basic-red);
}
.catalog-item-price:hover{
	background-color: var(--basic-red-select);
}
.catalog-item-price:active{
	background-color: var(--basic-red-click);
}

/* pagination */
.pagination-list{
	list-style: none;
}
.pagination-item{
	background-color: var(--basic-grey);
	color: var(--basic-black);
	text-transform: uppercase;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-dark-grey);
}


/* Footer */
.main-footer{
  margin-bottom: 0;
  margin-top: 80px
}
.map{
	width: 100%;
}
/*
.contacts-marker{
	z-index: 1;
}
*/
/*блок с адресом*/
.contacts{
	width: 320px;
	height: 140px;
}

.contacts-name{
	font-family: "Roboto-Bold",Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}
.contacts-address{
	color: var(--basic-address);
	line-height: 18px;
}
.contacts-phone{
	color: var(--basic-address);
	line-height: 18px;
}

/* Socials */

.footer-social{
	display: grid;
	grid-template-columns: 261px 1fr;	
	grid-column-gap: 140px;
}

.social-list{
	list-style: none;
	display: grid;
	grid-template-columns: 80px 80px 80px;
	column-gap: 10px;
}

.social-item {
	
	background-color: var(--basic-social);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-item img{

}

/*давайте дружить*/
 .footer-referal{
 	margin: auto auto auto 0;
 }

.referal-title{
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
	margin-bottom: 10px;

}
.referal-text{
	color: var(--basic-referal);
	line-height: 22px;
	font-size: 16px;
}

/* Modal */
.modal-title{
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 45px;
	line-height: 53px;
	color: var(--basic-black);
}
.order-login,
.order-email,
.order-text{
	font-family: "Roboto-Bold", Arial, sans-serif;
	line-height: 18px;
	color: var(--basic-black);
}




















